<div class="row">
  <h1>Login</h1>
  <%= form_for(:session, url: "/login") do |f| %>

    <div class="large-12 large-centered columns">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "email"  %>
    </div>

    <div class="large-12 large-centered columns">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "password" %>
    </div>

    <p class= "center"><%= f.submit "Login", class:"tiny button radius" %></p>
  <% end %>
</div>
