<div class="row">
  <h1>Login</h1>
  <%= form_for(:session, url: "/login") do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "email"  %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password" %>

    <p class= "center"><%= f.submit "Login", class:"tiny button radius" %></p>
  <% end %>
</div>
